<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Dashboard IoT</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Dashboard IoT</h1>
    <table>
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                <td>{{ item.latitude }}</td>
                <td>{{ item.longitude }}</td>
                <td>{{ item.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>